* {
    box-sizing: border-box;
}

body {
    background-color: rgb(112, 109, 109);
}

#container {
    zoom: .7;
    width: 460px;
    height: 760px;
    background-color: rgb(0,0,0,1);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 30px solid black;
    border-radius: 50px;

}

div.display {
    max-width: 400px;
    height: 200px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-align: right;
    padding-top: 70px;
    overflow-x: auto;
    direction: rtl;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
}


.buttons button {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 30px;
    background-color: rgb(65, 62, 62);
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    opacity: .8;
}

.buttons button:active {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 45px;
    margin: 5px;
}

.buttons .operator {
    background-color: orange;
}

.buttons .tool {
    background-color: rgb(128, 124, 124);
}
.buttons #zero {
    width: 200px;
}

.buttons #zero:active {
    width: 190px;
    height: 90px;
    border: 1px solid black;
    border-radius: 45px;
    margin: 5px;
}